<%- include('partials/header'); -%>

<header>
  <div class="employee">
    <img id="home-img"  src="/employee.png" alt="">
  </div>
  <div class="headings">
    <h2>Employee Details</h2>
    <h3>To collaborate and be a valued partner in frontier technology for organizations in their digital evolutionary journey. <br> <span class="company">- Hubinos</span> </h3>
    <a href="/hubinoEmployees" class="btn">View All Employees</a>
  </div>
</header>
<script>
  
</script>

<%- include('partials/footer'); -%>